{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}

<div class="layout-wrapper">

  <div class="header-wrapper">
    <h1 class="margin-none">{{ '404.title' | t }}</h1>
    <h4 class="margin-none">
      {{ '404.not_found' | t }}
    </h4>
  </div>

  <div class="play">
    <h3>Numbers</h3>
    <p class="margin-none">Let's play</p>
    <div x-data="grow">
      <button @click="decrement">-</button>
      <span x-text="count" :style="{ fontSize: 16 + count + 'px' }"></span>
      <button @click="increment">+</button>
    </div>
  </div>

</div>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data('grow', () => {
      return {
        count: 0,
        decrement() {
          this.count !== 0 ? this.count-- : ''
        },
        increment() {
          this.count++
        },
      }
    })
  })
</script>
{% schema %}
{
  "name": "t:general.404",
  "settings": []
}
{% endschema %}
